@import "site/bootstrap/less/bootstrap";

body {
    background: @grayLighter;

    font-size: 14px;
    line-height: 1.4em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#content {
    text-align: center;
    width: 640px;
    margin: 0 auto 40px;
    background-color: #f9f9f9;
    padding: 20px;
    .box-shadow(0 5px 6px rgba(0, 0, 0, 0.2));
}

#content .hero-unit {
    text-align: left;
}

#chord-and-log-container {
    display: block;
}

#chord-container {
    display: inline-block;
}

/* Logging ********************************************************************/
#log-container {
    display: none;
    text-align: left;
    height: 300px;
    overflow: scroll;
}

#log-container .label {
    margin-bottom: 2px;
}

.log-message {
    display: block;
}

.log-message, .message {
    font-size: 11px;
}

/* Chord Graph ****************************************************************/
svg#chord-graph {
    height: "300px";
    width: "300px";
}

#range {
    fill: @green;
    .opacity(50);
}

/* Node Info ******************************************************************/
#node-info {
    display: block;
}

#node-key-input {
    display: inline-block;
    width: 325px;
    vertical-align: middle;
    font-family: monospace;
    margin: 5px;
}

#node-info .btn {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

#log-level {
    display: inline-block;
    vertical-align: middle;
}

#log-level #num-errors-if-any {
    display: none;
}

#log-level li {
    text-align: left;
}

#log-level li i.no-icon {
    .opacity(0);
}
